<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585956798097-e23ohd5pp56q3ct2bsprevn7je7fh75u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585956798097-e23ohd5pp56q3ct2bsprevn7je7fh75u</string>
	<key>API_KEY</key>
	<string>AIzaSyD5JwCkYfOy-a-IejfvDfsJvkKFUPko29Q</string>
	<key>GCM_SENDER_ID</key>
	<string>585956798097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cdenomad.ArtMarketAdmin</string>
	<key>PROJECT_ID</key>
	<string>artmarket-6088d</string>
	<key>STORAGE_BUCKET</key>
	<string>artmarket-6088d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585956798097:ios:156a1ca574c029cec9d930</string>
	<key>DATABASE_URL</key>
	<string>https://artmarket-6088d.firebaseio.com</string>
</dict>
</plist>